language: node_js
node_js:
  - 'stable'
cache:
  directories:
    - node_modules
script:
  - npm test
  - npm run build
deploy:
  provider: surge
  skip_cleanup: true
  domain: voting-app-123.surge.sh
  project: ./build/
after_success:
  - surge --project ./build --domain voting-app-123.surge.sh
on:
  branch: master
